Repository leomozzer/demo-containers: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app/azure-pipelines.yml, pipelines/database/azure-pipelines.yml

pipelines/app/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: main
    jobs:
    - job: BuildAndPush
      steps:
      - task: Docker@2
        inputs:
          containerRegistry: ${{ parameters.containerRegistry }}
          repository: api
          command: buildAndPush
  ...

pipelines/database/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: main
    jobs:
    - job: DockerComposeMySql
      steps:
      - task: DockerCompose@0
        displayName: Push services
        inputs:
          action: Push services
          containerregistrytype: Azure Container Registry
  ...

Started mysql pipeline
  pipelines/database/azure-pipelines.yml
Due: none

Started mysql pipeline
  db/docker-compose.yml
Due: pipelines/database/azure-pipelines.yml

Started mysql pipeline
  pipelines/database/azure-pipelines.yml
  pipelines/templates/docker-compose/build.yml
Due: none

Started mysql pipeline
  pipelines/templates/docker-compose/push.yml
Due: none

Started mysql pipeline
  pipelines/database/azure-pipelines.yml
  pipelines/templates/docker-compose/build.yml
  pipelines/templates/docker-compose/push.yml
Due: none

Started mysql pipeline
  pipelines/database/azure-pipelines.yml
  pipelines/templates/docker-compose/build-push.yml
Due: none

Finished mysql pipeline
  pipelines/templates/docker-compose/build-push.yml
Due: none

Added compose and update connection to mysql
  api/.gitignore
  api/docker-compose.yml
  api/package-lock.json
  api/package.json
  api/src/index.js
Due: pipelines/app/azure-pipelines.yml

Updated app pipeline
  README.md
  pipelines/app/azure-pipelines.yml
Due: none

Started api pipeline
  api/docker-compose.yml
Due: pipelines/app/azure-pipelines.yml

Started api pipeline
  pipelines/app/azure-pipelines.yml
Due: none

Module acg and mysql acg
  terraform/app/main.tf
  terraform/app/modules/acg/main.tf
  terraform/app/modules/acg/variables.tf
Due: none

Testing docker compose in app
  pipelines/app/azure-pipelines.yml
Due: none

testing aci
  api/src/index.js
  pipelines/app/azure-pipelines.yml
Due: pipelines/app/azure-pipelines.yml

testing aci
  api/text.txt
Due: pipelines/app/azure-pipelines.yml

Testing azure pipeline
  api/src/index.js
  api/text.txt
  pipelines/app/azure-pipelines.yml
  pipelines/templates/docker-compose/build-push.yml
Due: pipelines/app/azure-pipelines.yml

Testing azure pipeline
  pipelines/app/azure-pipelines.yml
Due: none

Testing azure pipeline
  pipelines/app/azure-pipelines.yml
  pipelines/database/azure-pipelines.yml
  pipelines/templates/docker-compose/push.yml
  terraform/app/main.tf
Due: none

Created terraform steps template
  pipelines/app/azure-pipelines.yml
  pipelines/backend/azure-pipelines.yml
  pipelines/templates/steps/terraform.yml
  terraform/app/api/main.tf
  terraform/app/api/provider.tf
  terraform/app/api/variables.tf
  terraform/app/database/main.tf
  terraform/app/database/provider.tf
  terraform/app/database/variables.tf
Due: none

Fixed depensOn
  pipelines/app/azure-pipelines.yml
  pipelines/backend/azure-pipelines.yml
Due: none

Added condition
  pipelines/backend/azure-pipelines.yml
Due: none

Tested terraform steps template
  pipelines/backend/azure-pipelines.yml
Due: none

Testing tf with acg database
  pipelines/app/azure-pipelines.yml
Due: none

Path conditions:
  pipelines/app/azure-pipelines.yml: any of: api, website, but not: README.md, LICENSE
  pipelines/database/azure-pipelines.yml: any of: db, but not: README.md, LICENSE, api, website
