Repository leomozzer/demo-containers: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yaml, pipelines/backend/azure-pipelines.yml, pipelines/database/azure-pipelines.yml

Path conditions:
  pipelines/app/azure-pipelines.yml: any of: api, website, pipelines/app/azure-pipelines.yml, terraform/app, but not: README.md, LICENSE
  pipelines/azure-pipelines.yaml: any of: terraform-live, pipelines/azure-pipelines.yaml, pipelines/templates
  pipelines/backend/azure-pipelines.yml: any of: terraform/backend, pipelines/backend/azure-pipelines.yml, but not: README.md, LICENSE, terraform/backend/.gitignore
  pipelines/database/azure-pipelines.yml: any of: db, pipelines/database/azure-pipelines.yml, but not: README.md, LICENSE, api, website

Added subnet resource
  terraform-modules/vnet/main.tf
  terraform-modules/vnet/ouput.tf
Due: none

Added new variables
  terraform-modules/public-ip/main.tf
  terraform-modules/public-ip/variables.tf
Due: none

Started subnet module
  terraform-modules/subnet/main.tf
  terraform-modules/subnet/ouput.tf
  terraform-modules/subnet/variables.tf
Due: none

Remove vnet, public-ip and network profile
  terraform-live/terraform-acg/main.tf
  terraform-live/terraform-acr/main.tf
Due: pipelines/azure-pipelines.yaml

Fixed datasource
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Added mysql container
  terraform-live/terraform-acg/datasource.tf
  terraform-live/terraform-acg/main.tf
  terraform-live/terraform-acg/variables.tf
Due: pipelines/azure-pipelines.yaml

Added mysql container
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Added api acg
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Added api build and push
  pipelines/azure-pipelines.yaml
Due: pipelines/azure-pipelines.yaml

Added api build and push
  pipelines/azure-pipelines.yaml
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Added pass variable and update tfvars file
  pipelines/azure-pipelines.yaml
Due: pipelines/azure-pipelines.yaml

Code clean-up
  pipelines/azure-pipelines.yaml
Due: pipelines/azure-pipelines.yaml

Added infracost example
  infracost-base.json
  main.tf
  terraform-modules/vnet/variables.tf
Due: none

Added mysql port
  terraform-modules/vnet/main.tf
Due: none

Added security rule
  terraform-modules/vnet/main.tf
Due: none

Added security rule
  terraform-modules/vnet/variables.tf
Due: none

Added Microsoft.Network/virtualNetworks/subnets/action
  README.md
  terraform-modules/vnet/main.tf
Due: none

Added trivy
  pipelines/azure-pipelines.yaml
  pipelines/templates/steps/trivy.yaml
Due: pipelines/azure-pipelines.yaml

Added trivy
  pipelines/templates/steps/trivy.yaml
Due: pipelines/azure-pipelines.yaml

Added trivy
  terraform-modules/vnet/main.tf
Due: none

Added * in security rule
  pipelines/azure-pipelines.yaml
Due: pipelines/azure-pipelines.yaml

changed 'source_address_prefixes'
  terraform-modules/vnet/main.tf
Due: none

Added new trigger
  pipelines/azure-pipelines.yaml
Due: pipelines/azure-pipelines.yaml

Debug api connection
  api/src/index.js
Due: pipelines/app/azure-pipelines.yml

Removed connection to the mysql
  api/src/index.js
Due: pipelines/app/azure-pipelines.yml

Added subnet module and updated vnet module
  terraform-live/terraform-acg/main.tf
  terraform-modules/subnet/main.tf
  terraform-modules/subnet/variables.tf
  terraform-modules/vnet/main.tf
  terraform-modules/vnet/variables.tf
Due: pipelines/azure-pipelines.yaml

added nsg and security rule
  terraform-live/terraform-acg/main.tf
  terraform-modules/network-security-rule/main.tf
  terraform-modules/network-security-rule/ouput.tf
  terraform-modules/network-security-rule/variables.tf
  terraform-modules/nsg/main.tf
  terraform-modules/nsg/ouput.tf
  terraform-modules/nsg/variables.tf
  terraform-modules/subnet/main.tf
  terraform-modules/vnet/ouput.tf
Due: pipelines/azure-pipelines.yaml

added nsg and security rule
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

added nsg and security rule
  terraform-live/terraform-acg/main.tf
  terraform-modules/network-security-rule/main.tf
  terraform-modules/network-security-rule/ouput.tf
  terraform-modules/network-security-rule/variables.tf
  terraform-modules/nsg/ouput.tf
  terraform-modules/subnet/main.tf
  terraform-modules/subnet/ouput.tf
Due: pipelines/azure-pipelines.yaml

Added nsg association
  terraform-live/terraform-acg/main.tf
  terraform-modules/nsg-association/main.tf
  terraform-modules/nsg-association/ouput.tf
  terraform-modules/nsg-association/variables.tf
  terraform-modules/subnet/main.tf
  terraform-modules/subnet/variables.tf
Due: pipelines/azure-pipelines.yaml

Changed source address prefixes
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Added * to source and destination prefix
  api/src/index.js
  terraform-modules/network-security-rule/main.tf
  terraform-modules/network-security-rule/variables.tf
Due: pipelines/app/azure-pipelines.yml
