Repository leomozzer/demo-containers: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yaml, pipelines/backend/azure-pipelines.yml, pipelines/database/azure-pipelines.yml

Path conditions:
  pipelines/app/azure-pipelines.yml: any of: api, website, pipelines/app/azure-pipelines.yml, terraform/app, but not: README.md, LICENSE
  pipelines/azure-pipelines.yaml: any of: terraform-live, pipelines/azure-pipelines.yaml, pipelines/templates
  pipelines/backend/azure-pipelines.yml: any of: terraform/backend, pipelines/backend/azure-pipelines.yml, but not: README.md, LICENSE, terraform/backend/.gitignore
  pipelines/database/azure-pipelines.yml: any of: db, pipelines/database/azure-pipelines.yml, but not: README.md, LICENSE, api, website

Added aci
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Added * to source and destination prefix
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Added depends_on
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Added vnet into the apiacg
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Created subnet to api
  terraform-live/terraform-acg/main.tf
  terraform-live/terraform-acr/main.tf
Due: pipelines/azure-pipelines.yaml

Added webiste acg
  pipelines/azure-pipelines.yaml
  terraform-live/terraform-acg/main.tf
  terraform-live/terraform-acr/main.tf
Due: pipelines/azure-pipelines.yaml

Added webiste acg
  pipelines/azure-pipelines.yaml
Due: pipelines/azure-pipelines.yaml

Added webiste acg
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Fixed website modules
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Fixed subnet issues
  terraform-live/terraform-acg/main.tf
  terraform-live/terraform-acr/main.tf
Due: pipelines/azure-pipelines.yaml

Fixed network profile issues
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Fixed api code
  api/src/index.js
  terraform-live/terraform-acr/main.tf
Due: pipelines/app/azure-pipelines.yml, pipelines/azure-pipelines.yaml

Added mysql rule
  terraform-live/terraform-acg/main.tf
  terraform-modules/network-security-rule/main.tf
  terraform-modules/network-security-rule/variables.tf
Due: pipelines/azure-pipelines.yaml

Code review
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Code review
  terraform-live/datasource.tf
  terraform-live/main.tf
  terraform-live/terraform-acr/main.tf
Due: pipelines/azure-pipelines.yaml

modules review
  main.tf
  pipelines/app/azure-pipelines.yml
  pipelines/backend/azure-pipelines.yml
  terraform-modules/network-security-rule/main.tf
  terraform-modules/network-security-rule/ouput.tf
  terraform-modules/network-security-rule/variables.tf
  terraform-modules/nsg-association/main.tf
  terraform-modules/nsg/main.tf
  terraform-modules/public-ip/main.tf
  terraform-modules/public-ip/ouput.tf
  terraform-modules/subnet/main.tf
  terraform-modules/vnet/main.tf
  terraform/app/.gitignore
  terraform/app/api/main.tf
  terraform/app/api/provider.tf
  terraform/app/api/variables.tf
  terraform/app/database/main.tf
  terraform/app/database/provider.tf
  terraform/app/database/variables.tf
  terraform/app/modules/acg/main.tf
  terraform/app/modules/acg/output.tf
  terraform/app/modules/acg/variables.tf
  terraform/app/website/main.tf
  terraform/app/website/provider.tf
  terraform/app/website/variables.tf
  terraform/backend/datasource.tf
  terraform/backend/dev.tfvars
  terraform/backend/main.tf
  terraform/backend/modules/data.tf
  terraform/backend/modules/main.tf
  terraform/backend/modules/variables.tf
  terraform/backend/variables.tf
Due: pipelines/app/azure-pipelines.yml, pipelines/backend/azure-pipelines.yml

Code review
  infracost-base.json
Due: none

Added appgateway
  terraform-modules/app-gateway/main.tf
  terraform-modules/app-gateway/ouput.tf
  terraform-modules/app-gateway/variables.tf
Due: none

Added lifeclycle
  terraform-modules/vnet/main.tf
  terraform-modules/vnet/ouput.tf
Due: none

Added lifeclycle
  terraform-modules/subnet/main.tf
Due: none

Added id output
  terraform-modules/public-ip/ouput.tf
Due: none

Added appgateway module
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Added output and frontend subnet
  terraform-modules/app-gateway/main.tf
  terraform-modules/app-gateway/ouput.tf
  terraform-modules/app-gateway/variables.tf
Due: none

Updated appgateway
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Changed nsg rule priority
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Added backend ip address
  terraform-modules/app-gateway/main.tf
  terraform-modules/app-gateway/ouput.tf
  terraform-modules/app-gateway/variables.tf
Due: none

Added backend ip address
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Add nsg dependency in appgateway
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Updated documentation
  README.md
  documentation/images/demo-containers-backend-setup.png
  documentation/images/demo-containers-pipeline.png
Due: none

Add nsg dependency in the 'to-internet' rule
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Added pipeline diagram
  README.md
  documentation/images/pipeline-diagram.png
Due: none

Added init script
  db/docker-compose.yml
  db/init.sql
Due: pipelines/database/azure-pipelines.yml

Removed appgateway - tests
  docker-compose.yml
  terraform-live/terraform-acg/main.tf
Due: pipelines/azure-pipelines.yaml

Fixing script to start database
  db/docker-compose.yml
  docker-compose.yml
Due: pipelines/database/azure-pipelines.yml
