Repository leomozzer/demo-containers: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app/azure-pipelines.yml, pipelines/backend/azure-pipelines.yml, pipelines/database/azure-pipelines.yml

pipelines/app/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: dev
    jobs:
    - job: mysql
      steps:
      - task: DockerCompose@0
        displayName: Build services
        inputs:
          action: Build services
          azureSubscriptionEndpoint: ${{ parameters.azureSubscriptionEndpoint }}
  ...

pipelines/backend/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: dev
    jobs:
    - job: ACR_Setup
      steps:
      - template: ../templates/storage-account/download.yml
        parameters:
          file_name: tf-acr-$(System.StageName).tar
          storage_account_name: $(STORAGE-ACCOUNT-NAME)
  ...

pipelines/database/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: main
    jobs:
    - template: ../templates/docker-compose/build-push.yml
      parameters:
        azureSubscriptionEndpoint: ${{ parameters.azureSubscriptionEndpoint }}
        azureContainerRegistry: ${{ parameters.azureContainerRegistry }}
  ...

Changed website
  website/index.php
Due: pipelines/app/azure-pipelines.yml

Changed website
  website/Dockerfile
  website/index.php
Due: pipelines/app/azure-pipelines.yml

Changed website
  website/Dockerfile
  website/docker-compose.yml
Due: pipelines/app/azure-pipelines.yml

Steps to create the pipelines
  README.md
Due: none

Code clean up
  pipelines/backend/azure-pipelines.yml
  pipelines/database/azure-pipelines.yml
  pipelines/templates/archive-file.yml
  pipelines/templates/docker-compose/build-push.yml
  pipelines/templates/terraform.yml
Due: pipelines/backend/azure-pipelines.yml, pipelines/database/azure-pipelines.yml

Updated docker compose and sql scripts
  db/scripts/1-script-init.sql
  docker-compose.yml
Due: pipelines/database/azure-pipelines.yml

Removed package-lock.json
  api/package-lock.json
Due: pipelines/app/azure-pipelines.yml

Updated service connection
  pipelines/app/azure-pipelines.yml
  pipelines/backend/azure-pipelines.yml
  pipelines/templates/storage-account/download.yml
  pipelines/templates/storage-account/upload.yml
Due: pipelines/app/azure-pipelines.yml, pipelines/backend/azure-pipelines.yml

Added infracost task
  .gitignore
  pipelines/backend/azure-pipelines.yml
Due: pipelines/backend/azure-pipelines.yml

Added tfsec pipeline template
  pipelines/backend/azure-pipelines.yml
  pipelines/templates/steps/tfsec.yaml
Due: pipelines/backend/azure-pipelines.yml

Added tfsec pipeline template
  pipelines/backend/azure-pipelines.yml
Due: pipelines/backend/azure-pipelines.yml

Fixing tfsec pipeline
  pipelines/backend/azure-pipelines.yml
Due: pipelines/backend/azure-pipelines.yml

Fixing tfsec verifications
  terraform/backend/modules/main.tf
Due: pipelines/backend/azure-pipelines.yml

Added tfsec ignore
  terraform/backend/modules/main.tf
Due: pipelines/backend/azure-pipelines.yml

changed template
  pipelines/backend/azure-pipelines.yml
  pipelines/templates/steps/terraform-plan.yaml
  pipelines/templates/steps/tfsec.yaml
Due: pipelines/backend/azure-pipelines.yml

changed template
  pipelines/backend/azure-pipelines.yml
Due: pipelines/backend/azure-pipelines.yml

changed template
  pipelines/backend/azure-pipelines.yml
  pipelines/templates/steps/azure-setup.yaml
Due: pipelines/backend/azure-pipelines.yml

azure setup template
  pipelines/templates/steps/azure-setup.yaml
Due: none

azure setup template
  pipelines/backend/azure-pipelines.yml
Due: pipelines/backend/azure-pipelines.yml

azure setup template
  pipelines/backend/azure-pipelines.yml
  pipelines/templates/steps/azure-setup.yaml
Due: pipelines/backend/azure-pipelines.yml

Path conditions:
  pipelines/app/azure-pipelines.yml: any of: api, website, pipelines/app/azure-pipelines.yml, terraform/app, but not: README.md, LICENSE
  pipelines/backend/azure-pipelines.yml: any of: terraform/backend, pipelines/backend/azure-pipelines.yml, but not: README.md, LICENSE, terraform/backend/.gitignore
  pipelines/database/azure-pipelines.yml: any of: db, pipelines/database/azure-pipelines.yml, but not: README.md, LICENSE, api, website
